body {
    width: 100%;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.qrCard {
    width: 20%;
    height: 68%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px -1px;
    border-radius: 10px;
}
.qrCode {
    width: 90%;
    margin-top: -20px;
    border-radius: 10px;
}
.qrCode-info {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.infoTitle {
    font-size: 1.2em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.infoSubtitle {
    width: 98%;
    font-size: 0.9em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #868686;
    margin-top: -10px;
}
footer {
    display: flex;
    width: 100%;
    height: 5%;
    margin-bottom: -40px;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    font-family: monospace;
}